{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block content %}
    <h1>Rango says...</h1>
    <div>
        {% if user.is_suthenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
    </div>
    <div>
        {% if categories %}
            <strong>Most liked categories:</strong>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present</strong>
        {% endif %}
    </div>
    <div>
        {% if pages %}
            <strong>Most viewed pages</strong>
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present</strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static "rango/images/rango.jpg" %}"
             alt="Picture of Rango" />
{% endblock %}